<div class="game-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="About">
      <p *ngIf="game.parent_platforms?.length" class="game-tabs-par">
        Platforms:
        <span *ngFor="let game of game.parent_platforms; let last = last">
          {{game.platform.name}}<span *ngIf="!last">, </span>
        </span>
      </p>
      <p *ngIf="game.publishers?.length" class="game-tabs-par">
        Publishers:
        <span *ngFor="let publisher of game.publishers; let last = last">
          {{publisher.name}}<span *ngIf="!last">, </span>
        </span>
      </p>
      <p *ngIf="game.website" class="game-tabs-par">
        Website:
        <a class="game-tabs-link" href="{{game.website}}" target="_blank">
          {{game.website}}
        </a>
      </p>
      <div class="game-description" [innerHTML]="game.description">Some description of the game</div>
      <p class="game-tabs-votes">
        <ng-container *ngFor="let rating of game.ratings">
        <span *ngIf="rating.title === 'exceptional'">
          <mat-icon class="game-votes-up">thumb_up</mat-icon>
          <span class="game-votes-count">{{rating.count || 0}}</span>
        </span>
        <span *ngIf="rating.title === 'skip'">
          <mat-icon class="game-votes-down">thumb_down</mat-icon>
          <span class="game-votes-count">{{rating.count || 0}}</span>
        </span>
        </ng-container>
      </p>
    </mat-tab>
    <mat-tab label="Screenshots">
      <img
        class="game-screenshot"
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.rawg.io%2Fmedia%2Fresize%2F1280%2F-%2Fgames%2F7f0%2F7f021d4a3577ac9d591a628a431fc2e5.jpg&f=1&nofb=1"
        alt="screenshot">
    </mat-tab>
    <mat-tab label="Trailers">
      <video
        class="game-trailer"
        controls>
        <source src="https://www.imdb.com/video/vi2401674265?playlistId=tt2321297&ref_=tt_pr_ov_vi">
        Your browser does not support the video tag.
      </video>
    </mat-tab>
  </mat-tab-group>
</div>
